<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <title>{% block title %} {% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/font-awesome.css">
    <script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
    <script src="../static/js/jquery.min.js"></script>
    <script src="http://cdn.ckeditor.com/4.4.6/standard/ckeditor.js"></script>
    <script src="../static/js/index.js"></script>
    <!--<script src="//cdn.ckeditor.com/4.4.6/full/ckeditor.js"></script>-->
    <!--<script src="//cdn.ckeditor.com/4.4.6/basic/ckeditor.js"></script> 基础版（迷你版）-->
    <!--<script src="//cdn.ckeditor.com/4.4.6/full/ckeditor.js"></script> 完整版 &ndash;&gt;-->
    {% endblock head %}
</head>
<body>
{% block body %}
<div class="navbar">{% block navbar %} {% endblock navbar%}</div>
<div style="height: 51px;"></div>
<div class="content">{% block content %} {% endblock content%}</div>
<div class="foot">{% block foot %} {% endblock foot %}</div>
{% endblock body %}
</body>
</html><!--