<!DOCTYPE html>
<html>
<head>

    <title>NvRay's Blog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style type="text/css" src="http://apps.bdimg.com/libs/jquery/1.6.4/jquery.js"></style>
    <script src="//cdn.ckeditor.com/4.4.6/full/ckeditor.js"></script>
    <!--
    <script src="//cdn.ckeditor.com/4.4.6/basic/ckeditor.js"></script> 基础版（迷你版）
    <script src="//cdn.ckeditor.com/4.4.6/standard/ckeditor.js"></script> 标准版
    <script src="//cdn.ckeditor.com/4.4.6/full/ckeditor.js"></script> 完整版 -->
    <link href="../static/css/index.css" rel="stylesheet" type="text/css">

</head>
<body>

<div class="navbar">
<div id="menu" class="menu">
    <div id="li" class="li">
        <ul>
            <li><a href="/">主页</a></li>
            <li><a href="/blog">博客</a></li>
            <li><a href="/aboutme">关于</a></li>
        </ul>
    </div>
    <div class="link-me">
        <a href="https://github.com/rui7157">Github</a>
    </div>
<div id="loginbtn" class="loginbtn">
    <ul>

        <li><a href="#">nvray</a></li>
        <li><a href="/logout">注销</a> </li>

        <!--<li><a href="/login">登陆</a></li>-->
        <!--<li><a href="/register">注册</a></li>-->

     </ul>
</div>

    <div class="clear"></div>
</div>
<div id="flash" class="flash">

</div>
</div>
<div style="height: 51px;"></div>
<div class="content">
<div style="height:100px;"></div>


<div><h5><a href="/blog/edit">发表文章</a> </h5></div>

<hr/>
<script type="text/javascript">
var duoshuoQuery = {short_name:"nvray"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0]
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>



    <br>

<div class="post" id="post" style="margin: 10px; padding: 20px;">
<h3><a href="/blog/3">试试</a></h3>
<br/>
<div class="timestamp"><p>2016-02-05 14:44:44</p></div>
    <br/>
<p>&lt;canvas id=&quot;myCanvas&quot; width=&quot;200&quot; height=&quot;100&quot; style=&quot;border:1px solid #c3c3c3;&quot;&gt;<br />
Your browser does not support the canvas element.<br />
&lt;/……</p>
    <a class="post-more" href="/blog/3"><span class="post-more-link">阅读全文 »</span></a>
    </div>

    <br>

<div class="post" id="post" style="margin: 10px; padding: 20px;">
<h3><a href="/blog/2">HTML 输出 - 有用的提示</a></h3>
<br/>
<div class="timestamp"><p>2016-02-05 14:38:11</p></div>
    <br/>
<p><p>我们无法确定 HTML 被显示的确切效果。屏幕的大小，以及对窗口的调整都可能导致不同的结果。</p>

<p>对于 HTML，您无法通过在 HTML 代码中添加额外的空格或换行来改变输出的效果。</p>

<p>当显示页面时，浏览器会移除<em>源代码中</em>多余的空格和空行。所有连续的空格或空行都会被算作一个空格。需要注意的是，HTML 代码中的所有连续的空行（换行）也被显示为……</p>
    <a class="post-more" href="/blog/2"><span class="post-more-link">阅读全文 »</span></a>
    </div>

    <br>



<div class="pagination" id="pagination">
    <ul>




        <li><a href="/blog?page=1&amp;l=56">1</a></li>

        <li><a href="/blog?page=2&amp;l=56">2</a></li>



       <li> <a href="/blog?page=2">下一页</a></li>


    </ul>
</div>
</div>
<div class="foot">
<div class="foot-box">
    <p>© 2016 Flask | Powered by NvRay</p>
</div>
</div>

</body>
</html><!--