{% extends "menubase.html" %}
{% import "_autoform.html" as autoform%}
{% block content %}
<h1>用户名信息：</h1>
<div style="width: 100%;text-align: center;">
<table cellpadding="0" cellspacing="1px" style="border: 1px solid #000000;text-align: center;display:inline-table" >
    <tr>
        <td>tablename</td>
        <td>uid</td>
        <td>uname</td>
        <td>uemail</td>
        <td>upassword_hash</td>
    </tr>
{% for user in user_info %}

   <tr style="border: 1px solid #000000;">{{user|safe}}</tr>


{% endfor %}
</table>
    {% for user in user_info %}
    <h3>{{user.uname}}</h3>
    {% endfor %}
</div>
{% endblock content %}